<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The World - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/sandstone/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
        <img src="~/img/ryan.jpg" alt="ryan" class="profilePhoto" />
        <span id="userName">@User.Identity.Name</span>
        }
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="Trips">Trips</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            @if (User.Identity.IsAuthenticated)
            {
            <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
            }
        </ul>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-link">
                            <i class="fa fa-angle-left fa-lg"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">BrandName</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-sm btn-default">
                            <i class="fa fa-save"></i> Save
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-default">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            @RenderBody()
        </div>
        <div id="footer" class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; 2017 Ryan</h4>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)

    <script type="text/javascript" src="~/lib/bootstrap/dist/css/bootstrap.css"></script>
    <environment names="Development">
        <script type="text/javascript" src="~/lib/_app/site.js"></script>
    </environment>
    <environment names="Production, Staging">
        <script type="text/javascript" src="~/lib/_app/site.js"></script>
    </environment>
</body>
</html>